@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wavy-section {
  position: relative;
  background-color: #082e63;
  /* background-color: #0a397c; */
}

@media screen and (max-width: 768px) {
  .overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    border-radius: 0.5rem;
    background-color: #000000d1;
  }
}

.wavy-section .top-svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
}

.wavy-section .bottom-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  transform: rotate(180deg);
}

.story-div::after {
  content: "";
  position: absolute;
  z-index: 1; /* behind the content */
  bottom: -10px; /* adjust these as per your need */
  right: -10px;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%; /* to make it rounded */
  background-color: green; /* or whatever color you want */
}

.active {
  color: rgb(59 130 246);
}

/* Maybe remove */
.active::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: rgb(59 130 246);
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
